{% extends 'base.html' %}

{% block content %}

<h1>Hello world {{ name }} !!</h1>

<form action="add" method="post">

{% csrf_token %}

    enter 1st number : <input type="number" name="num1">
    enter 2nd number : <input type="number" name="num2">
    <input type="submit">
</form>

{% endblock %}