<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <title>TestingAcademia</title>
</head>
<body>

    <form action="login" method="post">

        {% csrf_token %}

        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit">

    </form>

    <div>
        {% for message in messages %}
        <h3>
            {{ message }}
        </h3>
        {% endfor %}
    </div>

</body>
</html>